contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.7.2
numpy
packaging==23.1
pandas
Pillow==10.0.0
py4j==0.10.9.7
pyparsing==3.0.9
pyspark==3.4.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
